<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"><link rel="stylesheet" href="style.css" />
    <title>REMO Device Master</title>
  </head>
  <body>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"><link rel="stylesheet" href="layout.css" />

<div class="box">
  <!--banner-->
  <div class="row banner" role="banner">    
    <img src="" alt="banner.png">
  </div>
  
  <!--status bar-->
  <div class="row status">
    <div>Date</div>
    
    <div>Climate Monetering System</div>
    <a hidden href="url">profile</a>        
    <a hidden href="url">sign-out</a>     
    
    <div>User Role</div>      
    
  </div>

  <!--menu bar-->
  <div class="row menu">
    <button href="/device">Device Master</button>    
    <button href="/gateway">Gateway Master</button>
    <button href="/oem">OEM Master</button>
    <button href="/equipment">Equipment Master</button>
    <button href="/provisioned">Provisioned Master</button>
  </div>
  
  <!--client area-->
  <div class="row client">
    < ------------ client area -------- >

  </div>

  <!--footer-->
  <div class="row footer">
    <h5>Powered By ReMoNet @Shalaka Connected Devices</h5>
  </div>

</div> 


  </body>
</html>
